<!DOCTYPE html>
<html lang="en">
<head>
  <!-- head template -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
    <title>Reliability analyzer</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
    <link href="css/c3.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!-- head template -->
</head>

  <body>
  <!--Nav template-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Reliability analyzer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Tab 1</a></li>
            <li><a href="#">Tab 2</a></li>
          </ul>
        </div>
      </div>
    </nav>
  <!-- Nav template -->

    <div class="container-fluid">
      <div class="row">

        <!-- Sidebar template-->
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="#">Overview</a></li>
            <li><a href="#">Jelinsky-Moranda</a></li>
            <li class="active"><a href="#">Musa <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Musa-Okumoto</a></li>
          </ul>
        </div>
        <!-- Sidebar template-->

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Модель Мусы</h1>

          <!-- Graph template -->
          <div class="row placeholders">
            <div class="col-xs-12">
              <div id="graph-container">
                <!--<canvas id="result-graph" width="800" height="400"></canvas>-->
                <div id="chart"></div>
              </div>
              <h4>Показатели надежности</h4>
              <span class="text-muted">модели Мусы</span>
              <form action="">
                <p><input type="file" name="str"></p>
                <p><input type="button" value="Send" onclick="musa_loader()"></p>
              </form>
            </div>
          </div>
          <!-- Graph template -->

          <!-- Table template -->
          <h2 class="sub-header">Section Table</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Time</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>1500</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>3000</td>
                </tr>
               <tr>
                  <td>3</td>
                  <td>280</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Table template -->
        </div>
      </div>
    </div>

  <!-- Script template -->
    <script src="js/jquery.min.js"></script>
    <script src="js/Chart.min.js"></script>

    <script src="js/d3.min.js"></script>
    <script src="js/c3.min.js"></script>

    <script src="js/test_plot.js"></script>
  <!-- Script template -->
  </body>
</html>